{% set pageTitle = "What is your home address in the UK?" %}
{% extends "layout_service_step.html" %}

{% block content %}

    {# https://design-system.service.gov.uk/styles/typography/#headings #}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        If you do not have a home address in the UK, use the address where you're staying. 
    </p>

    <form action="#" class="form" method="post">
        {# https://design-system.service.gov.uk/components/text-input/ #}
        {{ govukInput({
            id: "homePostcode",
            name: "homePostcode",
            classes: "govuk-input--width-10",
            autocomplete: "postal-code",
            label: {
                text: "Postcode",
                isPageHeading: false
            }
        }) }}

        <p class="govuk-body">
            <a href="home-address-manual" class="govuk-link">Enter address manually</a>
        </p>

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>

{% endblock %}