{% set pageTitle = "Which of the following is recorded on your medical record?" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <form action=-"#" class="form" method="post">
        {# https://design-system.service.gov.uk/components/radios/ #}
        {{ govukRadios({
            idPrefix: "gender",
            name: "gender",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "We are asking this question so we can find your GP record and save your result there."
            },
            items: [
                {
                    value: "male",
                    text: "Male"
                },
                {
                    value: "female",
                    text: "Female"
                },
                {
                    value: "other",
                    text: "Other / Not specified / I do not know"
                }
            ]
        }) }}

        {# https://design-system.service.gov.uk/components/details/ #}
        {{ govukDetails({
            summaryText: "Why are there not more options?",
            text: "We understand there may be other ways a person may answer this question. In this case, we just need to know what is on the person's GP record."
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}